{% extends 'application/_layout.html' %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'answers/stage.css' %}">
{% endblock %}

{% block content %}

  <h1>Recived data from json:</h1>
  <h4 id="name-course"></h4>
  <hr/>
  <p id="sections-course"></p>
  <hr/>
  <div class="md-stepper-horizontal grey">
  </div>
  <div class="container">
    <form action="">
{#      {% csrf_token %}#}
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Activity</th>
          <th scope="col">Like to do (Y/N)</th>
          <th scope="col">Self-estimate (Grade)</th>
        </tr>
        </thead>
        <tbody id="question-holder">

        </tbody>
      </table>
      <input type="button" class="btn btn-secondary float-right text-right" onclick="submitted();" value="Next">
    </form>
  </div>
  <script src="{% static 'answers/get_data.js' %}"></script>
{% endblock %}