{% extends 'application/_layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'application/cover.css' %}">
{% endblock %}

{% block body %}
    <div class="homepage-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

        <main role="main" class="inner cover">
            <div class="spinner-border text-light" style="width: 10rem; height: 10rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </main>


    </div>
{% endblock %}