{% extends 'application/_layout.html' %}

{% block content %}

  <div class="container">
    {% if message %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <h1>Logged as admin:</h1>
    <a href="{% url 'create-user' %}"><h4>Register a user</h4></a>
    <a href="{% url 'create-department' %}"><h4>Create a Department</h4></a>
    <a href="{% url 'create-question' %}"><h4>Create a Question</h4></a>
    <a href="{% url 'create-stage' %}"><h4>Create a Stage</h4></a>
    <a href="{% url 'create-section' %}"><h4>Create a Section</h4></a>
  </div>
{% endblock %}