{% extends 'application/_layout.html' %}

{% block content %}

  <div class="container">
    {% if message %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Users Control</h5>
          <div class="btn-group-vertical">
            <a href="{% url 'create-user' %}" class="btn btn-outline-dark">Register a user</a>
            <a href="{% url 'all-users' %}" class="btn btn-outline-dark">All Users</a>
            <a href="{% url 'add-user-to-departments' %}" class="btn btn-outline-dark">Connect User To Department</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">All operations with users.</small>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Departments Control</h5>
          <div class="btn-group-vertical">
            <a href="{% url 'create-department' %}" class="btn btn-outline-dark">Create a Department</a>
            <a href="{% url 'departments' %}" class="btn btn-outline-dark">Show Departments</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Change list of questions and create departments.</small>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Questions Control</h5>
          <p class="card-text">
          <div class="btn-group-vertical">
            <a href="{% url 'create-question' %}" class="btn btn-outline-dark">Create a Question</a>
            <a href="{% url 'questions' %}" class="btn btn-outline-dark">Show Questions</a>
            <a href="{% url 'load-question-file' %}" class="btn btn-outline-dark">Load from file</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Create questions, edit, or load it from file.</small>
        </div>
      </div>
    </div>
      <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Stages Control</h5>
          <div class="btn-group-vertical">
            <a href="{% url 'create-stage' %}" class="btn btn-outline-dark">Create a Stage</a>
            <a href="{% url 'stages' %}" class="btn btn-outline-dark">Show Stages</a>
            <a href="{% url 'load-stage-file' %}" class="btn btn-outline-dark">Load from file</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Create stages, edit, or load it from file.</small>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Sections Control</h5>
          <p class="card-text">
          <div class="btn-group-vertical">
            <a href="{% url 'create-section' %}" class="btn btn-outline-dark">Create a Section</a>
            <a href="{% url 'sections' %}" class="btn btn-outline-dark">Show Sections</a>
            <a href="{% url 'load-sections-file' %}" class="btn btn-outline-dark">Load from file</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Create sections, edit, or load it from file.</small>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Grades Control</h5>
          <p class="card-text">
          <div class="btn-group-vertical">
            <a href="{% url 'create-grade-view' %}" class="btn btn-outline-dark">Create a Grade</a>
            <a href="{% url 'grades' %}" class="btn btn-outline-dark">Show Grades</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Control grades in application.</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}