{% extends 'application/_layout.html' %}

{% block content %}
  <div class="container">
    {% for d in departments %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ d.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Test Available</h6>
    <p class="card-text">Some questions about activities upon development process and hard skills</p>
    <a href="{% url 'answers' department_id=d.id %}" class="card-link">Start poll</a>
  </div>
</div>
  {% endfor %}
  {% if msg %}
    <h1 class="text-center">Unfortunately you haven't any courses yet...</h1>
  {% endif %}
  </div>
{% endblock %}