{% extends 'application/_layout.html' %}

{% block content %}
  {% if error %}
    {{ error }}
    <br/>
    <br/>
  {% endif %}
  <div class="container">
    <h1>Logged as user</h1>
    {% for d in departments %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ d.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Test Available</h6>
    <p class="card-text">Some questions about activities upon development process and hard skills</p>
    <a href="#" class="card-link">Start poll</a>
  </div>
</div>
  {% endfor %}
  </div>
{% endblock %}