{% extends 'application/_layout.html' %}

{% block content %}

  <div class="container">
    {% if message %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <h1>Users:</h1>
  {% for obj in users %}
    <h4>{{ obj.name }} {{ obj.surname }}<a href="{% url 'user-details' user_id=obj.pk %}"> (info)</a></h4>
  {% endfor %}
            <input type="button" class="btn btn-lg btn-secondary btn-block col-md-3" onClick="history.go(-1);"
                 value="Go back">
  </div>
{% endblock %}