{% extends 'application/_layout.html' %}

{% block content %}

  <div class="container">
    {% if message %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <h1>{{ name }}:</h1>
  {% for obj in objects %}
    <h4>{{ obj.name }}<a href="{% url edit object_id=obj.pk %}"> (edit)</a></h4>
  {% endfor %}
            <input type="button" class="btn btn-lg btn-secondary btn-block col-md-3" onClick="history.go(-1);"
                 value="Go back">
  </div>
{% endblock %}