{% load static %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'auth-routing' %}">
      <img src="{% static 'application/logo-root.svg' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav px-3 ml-auto">
                <li class="nav-item">
          <a class="nav-link disabled" href="#">Login as: {{ user.userdata }}</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Sign out</a>
          <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden"/>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>